<header class="header">
 <div class="header-container">
  <nav>
    <div>
      <img src="./img/qsg.png" width="100" heigth="50"/>
    </div>
    <div class="social-links">
      <ul class="social-links-container">
        <li>
          <a>@qsgpoland.com</a>
        </li>
        <li>
          <a>+1111111111</a>
        </li>
        <li>
          <a href class="" target="_blank">
            <svg class="icon-instagram" width="32" height="32">
              <use href="./img/svg/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href class="" target="_blank">
            <svg class="icon-linkedin" width="32" height="32">
              <use href="./img/svg/icon.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href class="" target="_blank">
            <svg class="icon-facebook" width="32" height="32">
              <use href="./img/svg/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
 </div>
</header>
